body{
  font-family: 'Arial';
  background-color: #FFFFE0;
  color:brown;
  font-size: 16px;
}
h1{
  color:#fff;
  background-color: green;
  padding:5px;
  font-size: 3em;
}

h2, h3, h4{
  color:#000066;
}

table{
  width: 300px;
}
td {
  text-align: left;
  padding:4px;
}

hr{
  width:95%;
}
