body{
  font-family: 'Arial';
  background-color:	#FFFFE0;
  color:brown;
  font-size: 16px;
  padding:0px;
  margin:0px;
}

h1{
  margin: -10px -20px 50px -20px;
  padding:0.05em 0.4em;
  color:#fff;
  background-color: green;
  font-size: 64px;
}

h2 {
  border-top: 1px solid #ccc;
  padding-top:5px;
  color:#000066;
}

 h3, h4{
  color:#000066;
}

table {
  width: 500px;
}
th, td {
  text-align: left;
  padding:4px;
}

hr{
  width:100%;
}

img{
  text-align: center;
}

.main, h1 div {
    margin: auto;
    width:960px;
}

.main {
  background-color: pink;
  background-repeat: repeat;
  background-image:url("images/birds.png");
  background-blend-mode:hard-light;
  background-position: center top;
  padding:10px 20px;
}

.strongTxt {
  font-size:1.2em;
  font-weight: bold;
}

.headerImg{
  padding:10px;
  background-color: #fff;
  border:3px gray solid;
  margin:10px;
}
